/* Base Settings */
:root {
    background: #847C88;
}
.hidden {
    display:none;
}
/* Typography */
h1 {
    color:#76BD6C;
    text-align:center;
    font-size: 40px;
}
h2 {
    color:#0B5922;
    text-align:center;
}
h3 {
    color:#0B5922;
    text-align:center;
}
p {
    color:#76BD6C;
    text-align:center;
}
iframe {
    align-content: center;
}
div {
    display:flex;
    justify-content: center;
    padding: 10px;
}
.modal {
    background: #847C88
}
.w3-modal {z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);}
.w3-modal:not(.hidden) {display:block;}
.w3-modal-content {margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px;}
.column {
    flex-direction: column;
}
.vacs {
    display: grid;
    width: 100%;
    box-sizing: border-box;
    gap: 15px;
    padding: 10px;
}
section {
    background: #3D6EBD;
}
section img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Responsive Design */
@media (min-width: 1000px) {
    .one {
        flex:1;
    }

    .two {
        flex:2;
    }

    .three {
        flex:3;
    }

    .four {
        flex:4
    }

    .five {
        flex:5;
    }

    .six {
        flex:6;
    }
    .vacs {
    grid-template-columns: 300px 300px 300px 300px;
    }
}