/* Body Settings */
:root{
background:#FFFFFF;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background: #FFFFFF;
    border-bottom: solid black 5px;
    padding-bottom: 15px;
}
#section1{
    background-image:linear-gradient(to right, #F8EAFF,#EBFFFA,#D4EEFF);
    padding:5%;
    padding-bottom:10%;
}
.section-splitter{
    background: #FFFFFF;
    text-decoration: wavy;
    width:100%;
    margin-bottom: 3%;
}
#section2{
    background: #FFFFFF;
    padding-bottom:5%;
}
#section3{
    background: #F8EAFF;
    align-content: center;
    text-align: center;
}
#section4{
    background: #FFF7CC;
    align-content: center;
    padding:5%;
}
/* found this css from  https://lauryndbrown.github.io/2017/06/08/creating-clouds-in-css.html */
.cloud{
    margin-top:70px;
    width:300px;
    height:103px;
    background:white;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:100px;
    transform:translateX(500px);
}
.cloud::after, .cloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cloud::after{
    width:70px;
    height:70px;
    top:-120px;
    left:-80px;
}
.cloud::before{
    width:150px;
    height:150px;
    top: -70px;
    left:120px;
}
.cloud-small{
    margin-top:70px;
    width:100px;
    height:39px;
    background:#FFFFFF;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius:33px;
    transform:translateX(320px);
}
.cloud-small::after, .cloud-small::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cloud-small::after{
    width:25px;
    height:25px;
    top:-40px;
    left:-25px;
}
.cloud-small::before{
    width:50px;
    height:50px;
    top: -20px;
    left:40px;
}
.bcloud{
    margin-top:70px;
    width:300px;
    height:103px;
    background:black;
    box-shadow: 10px 10px rgb(255, 255, 255);
    border-radius:100px;
    transform:translateX(500px);
}
.bcloud::after, .bcloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.bcloud::after{
    width:70px;
    height:70px;
    top:-120px;
    left:-80px;
}
.bcloud::before{
    width:150px;
    height:150px;
    top: -70px;
    left:120px;
}
.grid1{
    display:grid;
    grid-template-columns:500px 500px ;
    padding-left: 15%;
    position:relative;
}
.grid2{
    display:grid;
    grid-template-columns:300px 300px 300px;
    padding:5%;
    padding-left:20%;
}
.blurb1{
    background:#EBFFFA;
    border: solid black 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin:20px;
}
.blurb2{
    background:#D4EEFF;
    border: solid black 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin:20px;
}
.blurb3{
    background:#F4EBF0;
    border: solid black 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin:20px;
}
.blurb4{
    background:#FFF7CC;
    border: solid black 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin:20px;
}
.blurb5{
    background:#FFD6E7;
    border: solid black 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin:20px;
}
footer{
    background: #FFF7CC;
    padding-top: 2%;
}
.hidden{
    display:none;
}
/* Navigation Settings */
.nav-highlight{
    background:#FFF7CC;
    border: solid black 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin-right:15px;
}
.nav-highlightd{
    background:#EBFFFA;
    border: solid black 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin-right:15px;
}

/* Typography */
h1 {
    
}
h2 {

}
h3 {
    font-size: 20px;
}
p {

}
a {

}
.header-title{
    padding-left: 2%;
}
#header-nav a{
    color: black;
    padding: 1%;
    font-size: 1.0em;
    text-decoration: none;
}
.s1-caption{
    display:flex;
    justify-content: center;
    text-align: center;
    padding:1%;
    width:10%;
    margin:auto;
}
.s1-title{
    align-items: center;
    width: 30%;
    padding-left:40%;
    font-size: 35px;
}
.s2-content{
    text-align: center;
}
.s2-content p{
    padding-right:5%;
}
.s4-content{
    text-align: center;
}
.grid1 h3, p{
    padding-left: 3%;
}

.copyright{
    text-align: center;
}

/* Images */
.img-small {
    width:100px;
    height:100px;
}
.emoji-thought{
    position:absolute;
    top:-10px;
    font-size: 30px;
    padding:0;
}
.emoji-sun{
    position:absolute;
    top:-80px;
    font-size: 100px;
    padding:0;
}
.emoji-moon{
    position:absolute;
    top:-80px;
    font-size: 100px;
    padding:0;
}
.emoji-star{
    position:absolute;
    top:180px;
    font-size: 100px;
    padding:0;
}
.emoji-void{
    position:absolute;
    top:180px;
    font-size: 100px;
    padding:0;
}
/* Buttons */
.waking{
    position: absolute;
    font-size: 30px;;
    background-color:black;
    color:white;
    border-radius: 20%;
    border: none;
    right:980px;
}
.slumber{
    position: absolute;
    font-size: 30px;;
    background-color:black;
    color:white;
    border-radius: 20%;
    border: none;
    right:480px;
}
.dreams{
    position: absolute;
    font-size: 30px;;
    background-color:black;
    color:white;
    border-radius: 20%;
    border: none;
    right:980px;
}
.lack{
    position: absolute;
    font-size: 30px;;
    background-color:black;
    color:white;
    border-radius: 20%;
    border: none;
    right:480px;
}


/* Responsive Design */
@media (min-width: 1000px) {
    .columns {
        display:flex;
    }
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }
    .five {
        flex: 5;
    }
    .six {
        flex: 6;
    }
}