p {
    text-align: center;
    color: red;
}
body {
    background: rgb(184, 138, 232);
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    color:green
}
.about {
    text-align: center;
    color: green;
}

.projects {
    background: #f8dab0
}

.left {
    text-align: left;
}

.green {
    color: green;
}

.attention {
    font-weight: bold;;
}

