/* Base Styling */
#quote {
    width:50%;
    padding-left:25%;
}
#pop {
    position:relative;
}
#pquote {
    background:#FFFFFF;
    padding-top:40%;
    padding-bottom:10%;
    width:70%;
    margin-left:13%;
}
#pop-article1 {
    position:absolute;
    background:#75000A;
    color:white;
    padding-top:1%;
    padding-bottom:3%;
    padding-left:3%;
    padding-right:3%;
    top:90%;
    left:2%;
    margin:auto;
    width:90%;
}
#pop-article2 {
    position:absolute;
    background:#75000A;
    color:white;
    padding-top:1%;
    padding-bottom:3%;
    padding-left:3%;
    padding-right:3%;
    top:90%;
    right:2%;
    margin:auto;
    width:90%;
}
#smallsec {
    padding-top:40%;
    width:80%;
    margin:auto;
}
#connection {
    margin-top:35%;
    background:#EDEDED;
    padding-top:10%;
    padding-bottom:3%;
    text-align:center;
}
#connection2 {
    background:#EDEDED;
    padding-top:3%;

    padding-bottom:3%;
    text-align:center;
}
#connection2 div {
    border-bottom: 1px solid gray;
}
#connectionlast {
    padding-left: 2%;
}
#connection2 div:last-child {
    border-bottom:none;
}
#lastlinks {
    background: #75000A;
    padding-left:5%;
    padding-top: 3%;
    padding-bottom:2%;
}
#button {
    background:black;
    text-decoration:none;
    text-align:center;
    border:solid white 2px;
    color:white;
    padding-left:1.5%;
    padding-right:1.5%;
    padding-top:1.5%;
    padding-bottom:1.5%;
}
#button2 {
    background:#75000A;
    text-decoration:none;
    text-align:center;
    border:solid white 2px;
    color:white;
    padding-left:1%;
    padding-right:1%;
    padding-top:1%;
    padding-bottom:1%;
}

/* Images */
#header-images {
    background:black;
    padding-left:5%;
}

#img-background {
    width: 100%;
}
#pquote-img {
    padding-left:30%;
    border-radius:25%;
}
#connection2-img {
    padding-left:5%;
    padding-right:2%;
}
#connection2-imgs {
    padding-left:2%;
    padding-right:2%;
}

/* Typography */
#body {
    font-family: Sans-serif, Serif, Arial;
}
#header-images h3 {
    color:white;
    text-align:right;
    font-family:serif;
    font-size: 2.3em;
    padding:0.5em;
}
#header-nav a {
    padding: 5px;
    color:white;
    text-decoration:none;
    padding-right:10px;
    border-right: 1px solid white;
    padding-left:10px;
}
#header-nav a:last-child {
    border-right:none;
}
#top-nav a {
    color:white;
    text-decoration:none;
    position:relative;
    font-size:1.2em;
    margin:0;
    padding-right:4%;
    border:0;
    font:bold Berlingske Sans;
}
#pop-article1 h2{
    font-size:3em;
}
#pop-article2 h2{
    font-size:3em;
}
#pop-article1 p{
    padding-bottom:15px;
}
#pop-article2 p{
    padding-bottom:15px;
}
#quote p {
    font-family:serif;
    font-size: 2.0em;
    text-align:center;
}
#pquote-text {
    padding-left:5%;
}
#smallsec a {
    text-decoration:none;
}
#smallsec h4 {
    color:#75000A;
    font-size:1.3em;
    width:60%;
}
#smallsec p {
    width:80%;
}
#connection h2{
    color:#75000A;
    font-size:2.5em;
}
#connection p{
    padding-bottom:3%;
}
#connection2 h4{
    color:#75000A;
    font-size:1.5em;
}
#redlink {
    color:#75000A;
    text-decoration: none;
}
#connectionlink {
    color:#75000A;
}
#footer-nav a{
    padding-right:10px;
    text-decoration: none;
    border-right: 1px solid white;
    padding-left:10px;
}
#footer-nav a:last-child {
    border-right:none;
}
.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.ss {
    border:solid #75000A;
    border-width: 0 2px 2px 0;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* Navigations */
#header-nav {
    background: black;
    padding-left:5%;
    padding-bottom:1%;
    padding-top:1%;
}
#top-nav {
    background:#75000A;
    padding-left: 45%;
    padding-top:1%;
    padding-bottom:1%;
}
#footer-nav {
    background:black;
    border-top:solid white 1px;
    padding-left:10%;
    padding-top:1%;
    padding-bottom:1%;
}

/* Tables */
#table-nav {
    background: #75000A;
    padding-left:5%;
    padding-bottom:5%;
}
#table-nav th, a {
    color:white;
    text-decoration: none;
}
#table-nav th{
    border-bottom: 1px solid white;
    text-align:left;
}
#table-nav td {
    width:10%;
}
#tablec2 {
    border-spacing:30%;
}
#tablec2 td{
    color:#75000A;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

/* Responsive Design */
@media (min-width: 1000px) {
    .columns {
        display:flex;
    }
    /*Applies flex 1 to all list items in main nav instead of having to assign the one class to every single one*/
    #pop-article1 {
        position:absolute;
        background:#75000A;
        color:white;
        padding:3%;
        top:67%;
        left:40%;
        width:50%;
    }
    #pop-article2 {
        position:absolute;
        background:#75000A;
        color:white;
        padding:3%;
        top:67%;
        right:40%;
        width:50%;
    }
    #connection {
        margin-top:5%;
        padding-top:3%;
    }
    #connection2 {
        text-align:left;
        padding-right:5%;
        border-right:1px solid gray;
    }
    #connection2 div:last-child {
        border-right:none;
    }
    #pquote {
        padding-top:10%;
        padding-bottom:7%;
    }
    #pquote-img {
        padding-left:30%;
    }
    #smallsec {
        padding-top:5%;
    }
    #pquote-img {
        padding-left:0%;
    }
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }
    .five {
        flex: 5;
    }
    .six {
        flex: 6;
    }
}