/* Structure */
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background:url("images/The\ Great\ Fire\ of\ Rome.jpg");
    background-size: cover;
}

#content {
    background:#D9A171;
    width:70%;
    margin:auto;    /*center*/
    padding:4%;     /*get text away from the edge*/
    border-radius:5px; /*round corners*/
}

/* Tables */
td {
    border:1px solid #400D01;
    padding:5px 10px;   /*Top and bottom 5, right and left 10 */
}
th{
    background: #400D01;
}

/*Images*/
#socratespic {
    box-shadow: 7px 7px palevioletred;
}

/* Typography */
h1 {
    color:#BF5934
}
h2 {
    color:#A67153
}