/* Structure */
body {
    font-family: 'Times New Roman', Times, serif;
    background: indigo;
    background-size: cover;
}

#writing {
    background: green;
    
}

/* Typography */

h1 {
    color: coral;
}

h2 {
    color:coral;
}

p {
    color:aquamarine;
}
li {
    text-decoration: none;
    color:aquamarine;
}