/* Body Settings */
:root{
background:#FFFFFF;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
--orange:#FFF7CC;
--purple:#F8EAFF;
--green:#EBFFFA;
--blue:#D4EEFF;
--white:#FFFFFF;
--pink:#F4EBF0;
--ptext-color:gray;
--text-color:black;
}
header{
    background: white-color;
    border-bottom: solid black 5px;
    padding-bottom: 50px;
    padding-left:5%;
}
#section1{
    background-image:linear-gradient(to right, var(--purple),var(--green),var(--blue));
    padding:5%;
    padding-bottom:10%;
}
.section-splitter{
    background: var(--white);
    text-decoration: wavy;
    width:100%;
    margin-bottom: 3%;
}
#section2{
    background: var(--white);
    padding-bottom:5%;
}
#section3{
    background: var(--purple);
    align-content: center;
    text-align: center;
}
#section4{
    background: var(--orange);
    align-content: center;
    padding:5%;
}
/* found this css from  https://lauryndbrown.github.io/2017/06/08/creating-clouds-in-css.html */
.cloud{
    margin-top:70px;
    width:300px;
    height:103px;
    background:var(--white);
    box-shadow: 10px 10px var();
    border-radius:100px;
    transform:translateX(100px);
}
.cloud::after, .cloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cloud::after{
    width:70px;
    height:70px;
    top:-120px;
    left:-80px;
}
.cloud::before{
    width:150px;
    height:150px;
    top: -70px;
    left:120px;
}
.cloud-small{
    margin-top:70px;
    width:100px;
    height:39px;
    background:var(--white);
    box-shadow: 10px 10px var(--text-color);
    border-radius:33px;
    transform:translateX(130px);
}
.cloud-small::after, .cloud-small::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.cloud-small::after{
    width:25px;
    height:25px;
    top:-40px;
    left:-25px;
}
.cloud-small::before{
    width:50px;
    height:50px;
    top: -20px;
    left:40px;
}
.bcloud{
    margin-top:70px;
    width:300px;
    height:103px;
    background:var(--text-color);
    box-shadow: 10px 10px var(--white);
    border-radius:100px;
    transform:translateX(100px);
}
.bcloud::after, .bcloud::before{
    content:"";
    position:relative;
    display:inline-block;
    background:inherit;
    border-radius:inherit;
}
.bcloud::after{
    width:70px;
    height:70px;
    top:-120px;
    left:-80px;
}
.bcloud::before{
    width:150px;
    height:150px;
    top: -70px;
    left:120px;
}
.grid1{
    display:grid;
    grid-template-columns:300px ;
    padding-left: 15%;
    position:relative;
}
.grid2{
    display:grid;
    grid-template-columns:300px;
    padding-left:20%;
}
.slot1{
    background:var(--green);
    border: solid var(--text-color) 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin:20px;
}
.slot2{
    background:var(--blue);
    border: solid var(--text-color) 4px;
    border-radius: 15%;
    box-shadow: 5px 5px black;
    margin:20px;
}
.slot3{
    background:#F4EBF0;
    border: solid var(--text-color) 4px;
    border-radius: 15%;
    box-shadow: 5px 5px var(--text-color);
    margin:20px;
}
.slot4{
    background:var(--orange);
    border: solid var(--text-color) 4px;
    border-radius: 15%;
    box-shadow: 5px 5px var(--text-color);
    margin:20px;
}
.slot5{
    background:var(--pink);
    border: solid var(--text-color) 4px;
    border-radius: 15%;
    box-shadow: 5px 5px var(--text-color);
    margin:20px;
}
footer{
    background: var(--orange);
    padding-top: 2%;
}
.hidden{
    display:none;
}
/* Navigation Settings */
.header-nav {
    padding:auto;
    margin:auto;
}
.nav-highlight{
    background:var(--orange);
    border: solid var(--text-color) 4px;
    border-radius: 15%;
    box-shadow: 5px 5px var(--text-color);
    margin-right:15px;
    text-decoration: none;
    color:var(--text-color);
    padding:auto;
}
.nav-highlightd{
    background:var(--green);
    border: solid var(--text-color) 4px;
    border-radius: 15%;
    box-shadow: 5px 5px var(--text-color);
    margin-right:15px;
    text-decoration: none;
    color:var(--text-color);
}

/* Typography */
h1 {
    
}
h2 {

}
h3 {
    font-size: 20px;
}
p {

}
a {

}
.header-title{
    padding-left: 30%;
}

.s1-caption{
    display:flex;
    justify-content: center;
    text-align: center;
    padding:3%;
    width:10%;
    margin:auto;
}
.s1-title{
    align-items: center;
    width: 30%;
    padding-left:40%;
    font-size: 35px;
}
.s2-content{
    text-align: center;
}
.s2-content p{
    padding-right:5%;
}
.s4-content{
    text-align: center;
}
.grid1 h3, p{
    padding-left: 3%;
}

.copyright{
    text-align: center;
}

/* Images */
.img-small {
    width:100px;
    height:100px;
}
.emoji-thought{
    position:absolute;
    top:30px;
    left:370px;
    font-size: 30px;
    padding:0;
}
.emoji-sun{
    position:absolute;
    top:-80px;
    font-size: 100px;
    padding:0;
}
.emoji-moon{
    position:absolute;
    top:180px;
    font-size: 100px;
    padding:0;
}
.emoji-star{
    position:absolute;
    top:460px;
    font-size: 100px;
    padding:0;
}
.emoji-void{
    position:absolute;
    top:740px;
    font-size: 100px;
    padding:0;
}
/* Buttons */
.waking{
    position: absolute;
    font-size: 30px;;
    background-color:var(--text-color);
    color:var(--white);
    border-radius: 20%;
    border: none;
    right:277px;
}
.slumber{
    position: absolute;
    font-size: 30px;;
    background-color:var(--text-color);
    color:var(--white);
    border-radius: 20%;
    border: none;
    right:277px;
}
.dreams{
    position: absolute;
    font-size: 30px;;
    background-color:var(--text-color);
    color:var(--white);
    border-radius: 20%;
    border: none;
    right:277px;
}
.lack{
    position: absolute;
    font-size: 30px;;
    background-color:var(--text-color);
    color:var(--white);
    border-radius: 20%;
    border: none;
    right:277px;
}


/* Responsive Design */
@media (min-width: 1200px) {
    header{
        padding-bottom: 15px;
    }
    .s1-caption{
    align-self: center;
    padding:1%;
    }
    .s1-title{
        align-items: center;
        width: 30%;
        padding-left:40%;
        font-size: 35px;
    }
    .cloud{
    margin-top:70px;
    width:300px;
    height:103px;
    background:var(--white);
    box-shadow: 10px 10px var(--text-color);
    border-radius:100px;
    transform:translateX(500px);
    }
    .cloud::after, .cloud::before{
        content:"";
        position:relative;
        display:inline-block;
        background:inherit;
        border-radius:inherit;
    }
    .cloud::after{
        width:70px;
        height:70px;
        top:-120px;
        left:-80px;
    }
    .cloud::before{
        width:150px;
        height:150px;
        top: -70px;
        left:120px;
    }
    .cloud-small{
        margin-top:70px;
        width:100px;
        height:39px;
        background:var(--white);
        box-shadow: 10px 10px var(--text-color);
        border-radius:33px;
        transform:translateX(320px);
    }
    .cloud-small::after, .cloud-small::before{
        content:"";
        position:relative;
        display:inline-block;
        background:inherit;
        border-radius:inherit;
    }
    .cloud-small::after{
        width:25px;
        height:25px;
        top:-40px;
        left:-25px;
    }
    .cloud-small::before{
        width:50px;
        height:50px;
        top: -20px;
        left:40px;
    }
    .bcloud{
        margin-top:70px;
        width:300px;
        height:103px;
        background:var(--text-color);
        box-shadow: 10px 10px var(--white);
        border-radius:100px;
        transform:translateX(500px);
    }
    .bcloud::after, .bcloud::before{
        content:"";
        position:relative;
        display:inline-block;
        background:inherit;
        border-radius:inherit;
    }
    .bcloud::after{
        width:70px;
        height:70px;
        top:-120px;
        left:-80px;
    }
    .bcloud::before{
        width:150px;
        height:150px;
        top: -70px;
        left:120px;
    }
    .grid1{
    display:grid;
    grid-template-columns:500px 500px ;
    padding-left: 15%;
    position:relative;
    }
    .grid2{
        display:grid;
        grid-template-columns:300px 300px 300px;
        padding:5%;
        padding-left:20%;
    }
    .emoji-thought{
    position:absolute;
    top:-10px;
    left:1380px;
    font-size: 30px;
    padding:0;
    }
    .emoji-sun{
        position:absolute;
        top:-80px;
        font-size: 100px;
        padding:0;
    }
    .emoji-moon{
        position:absolute;
        top:-80px;
        font-size: 100px;
        padding:0;
    }
    .emoji-star{
        position:absolute;
        top:180px;
        font-size: 100px;
        padding:0;
    }
    .emoji-void{
        position:absolute;
        top:180px;
        font-size: 100px;
        padding:0;
    }
    /* Buttons */
    .waking{
        position: absolute;
        font-size: 30px;;
        background-color:var(--text-color);
        color:var(--white);
        border-radius: 20%;
        border: none;
        right:980px;
    }
    .slumber{
        position: absolute;
        font-size: 30px;;
        background-color:var(--text-color);
        color:var(--white);
        border-radius: 20%;
        border: none;
        right:480px;
    }
    .dreams{
        position: absolute;
        font-size: 30px;;
        background-color:var(--text-color);
        color:var(--white);
        border-radius: 20%;
        border: none;
        right:980px;
    }
    .lack{
        position: absolute;
        font-size: 30px;;
        background-color:var(--text-color);
        color:var(--white);
        border-radius: 20%;
        border: none;
        right:480px;
    }
    .columns {
        display:flex;
    }
    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }
    .five {
        flex: 5;
    }
    .six {
        flex: 6;
    }
}